<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compétences en ligne</title>
</head>
<body>
<br/>
<center><h2>Gestion des experts ...</h2></center>
<br/><br/>
<div align="center">
    <table border="0" width="80%">
        <td width="50%"><a th:href="@{ ${flowExecutionUrl} + '&_eventId=Menu'}">Revenir au menu</a></td>
        <td><a th:href="@{ ${flowExecutionUrl} + '&_eventId=Quitter'}"><h5>Quitter l'application</h5></a>
        </td>
    </table>
</div>
</body>
</html>