<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compétences en ligne</title>
</head>
<body>
<br/>
<center><h2>Annuaire de compétences en ligne</h2></center>
<br/><br/>
<div align="center">

  <a th:href="@{ ${flowExecutionUrl} + '&_eventId=Themes'}"><h3>Les thèmes</h3></a><br/><br/>
  <a th:href="@{ ${flowExecutionUrl} + '&_eventId=Compétences'}"><h3>Les Compétences</h3></a><br/><br/><br/><br/>
  <a th:href="@{ ${flowExecutionUrl} + '&_eventId=Quitter'}"><h5>Quitter l'application</h5></a>
</div>
</body>
</html>